/* colors fondo */
/* colors letra */
/* colors letra */
/* tipo de letra */
* {
  margin: 0;
  padding: 0;
  font-family: gadugib; }

html {
  font-size: 62.5%; }
  html li {
    list-style: none; }
  html a {
    text-decoration: none; }
  html p {
    font-size: 2em; }

header {
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 24px 120px;
  background-color: #171717;
  justify-content: space-between; }
  header .menu input {
    display: flex;
    list-style: none;
    width: 505px;
    height: 50px; }
  header .date-extra {
    font-size: 4em;
    color: #4BB3FD;
    text-decoration: none;
    transition: 1.2s; }
    header .date-extra:hover {
      font-size: 5em; }

main {
  background-color: #171717; }
  main .navegation {
    background-color: #FF680A;
    padding: 24px 120px; }
    main .navegation .menu-second a {
      color: #000000; }
    main .navegation .menu-second li a {
      transition-duration: 1.2s;
      padding: 0 20px; }
    main .navegation .menu-second li a:hover {
      color: white;
      font-size: 1.2em; }
  main .title {
    font-size: 2em;
    text-align: center;
    color: #000000; }
  main .menu-second {
    display: grid;
    grid-template-areas: "menu-second__item" "menu-second__item2" "menu-second__item3" "menu-second__item4";
    grid-template-columns: 25vh 25vh 25vh 25vh;
    grid-template-rows: 1fr;
    font-size: 3em;
    align-items: center;
    justify-content: space-around; }
  main .hardware {
    color: #000000; }
    main .hardware img {
      transition-duration: 0.8s; }
      main .hardware img:hover {
        transform: scale(1.05); }
  main .img {
    width: 100%; }

footer {
  background-color: #FF680A; }
  footer .contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; }
  footer .contactanos__link {
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 1079px) {
  main nav .menu-second {
    display: flex;
    flex-wrap: wrap; } }

@media (max-width: 550px) {
  header nav .menu input {
    width: 200px; } }

@media (max-width: 810px) {
  .ayuda-main #ayuda #inputs {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1em; } }

@media (max-width: 1850px) {
  header {
    flex-direction: column; } }

@media (max-width: 1080px) {
  .hardware {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; } }

@media (max-width: 655px) {
  .contactanos__img {
    width: 100%; } }

@media (max-width: 450px) {
  .info-creator p {
    text-align: center;
    font-size: 2.3em; } }

@media (max-width: 700px) {
  .info-arma-yu-pc {
    padding: 20px 0; } }

@media (max-width: 400px) {
  .carrito-pagar a {
    font-size: 0.7em; } }

@media (max-width: 450px) {
  .cpu__img {
    width: 100%; } }

@media (max-width: 350px) {
  .menu input {
    width: 250px; } }

@media (max-width: 1400px) {
  .mouse__img {
    width: 100%; }
  .graphics__img {
    width: 100%; }
  .cpu__img {
    width: 100%; } }

.info-arma-yu-pc {
  padding: 24px 120px; }
  .info-arma-yu-pc .title-arma-tu-pc {
    text-align: center;
    font-size: 3em;
    color: #000000; }
  .info-arma-yu-pc .p-arma-tu-pc {
    font-size: 2.5em;
    padding: 20px;
    font-family: roboto;
    color: aliceblue; }

.carrito-pagar {
  text-align: center;
  font-size: 3em;
  color: #000000; }
  .carrito-pagar a {
    color: #4BB3FD;
    padding: 10px 24px;
    transition-duration: 0.8s; }
  .carrito-pagar a:hover {
    color: white; }

.carrito-info {
  text-align: center;
  padding: 12px 0 12px 0;
  font-size: 2em;
  color: rgba(255, 30, 0, 0.332); }

.ayuda-main {
  color: #000000; }
  .ayuda-main .info-creator p {
    text-align: center;
    font-size: 3em; }
  .ayuda-main .ayuda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px 40px;
    font-size: 1.7em;
    gap: 1em; }
    .ayuda-main .ayuda .inputs {
      padding: 0 30px; }

@media (max-width: 1850px) {
  header {
    flex-direction: column; } }

@media (max-width: 1080px) {
  .hardware {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; }
  .menu-second {
    display: flex;
    flex-wrap: wrap; } }

@media (max-widht: 1079px) {
  nav .menu-second {
    display: flex;
    flex-wrap: wrap; } }

@media (max-width: 655px) {
  .contactanos__img {
    width: 100%; } }

@media (max-width: 655px) {
  .menu input {
    width: 310px; } }

@media (max-width: 450px) {
  .info-creator p {
    text-align: center;
    font-size: 2.3em; } }

@media (max-width: 700px) {
  .info-arma-yu-pc {
    padding: 20px 0; } }

@media (max-width: 400px) {
  .carrito-pagar a {
    font-size: 0.7em; } }

@media (max-width: 450px) {
  .cpu__img {
    width: 100%; } }

@media (max-width: 350px) {
  .menu input {
    width: 250px; } }

@media (max-width: 1400px) {
  .mouse__img {
    width: 100%; }
  .graphics__img {
    width: 100%; }
  .cpu__img {
    width: 100%; } }

#sponsor-info__title {
  text-align: center;
  font-size: 3.5em;
  color: var(--color); }

#sponsor-info__parrafo {
  text-align: center;
  font-size: 2.4em;
  padding: 8px 0 8px 0;
  font-family: var(--tipografia-secundario);
  color: #0b76d4; }
