:root { 
    --colorTextos: #49454567;
}

*,
::before,
::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    margin: 0;
    padding: 0;
    background-color: black;
    span { 
        font-family: Hack, monospace;
        font-size: 40px;
        color: black;
    }
    .icon-mod { 
        display: flex;
        width:170px;
        height:50px;
        align-items: center;
        justify-content: center;
        margin: 0px 0  0 160px;
    }
    
    form { 
        background: #fff;
        padding: 40px 0 ;
        box-shadow: 0  0 6px 0 rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        .grupo { 
            position: relative;
            margin: 45px;
            
        }
    }
    
    .form { 
         width: 100%;
         margin: auto;
    }
    
    input { 
        background: none;
        color: #c6c6c6;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--colorTextos);
    }
    
    input:focus { 
        outline: none;
        color: #5e5b5d;
    }
    
    label { 
        color: var(--colorTextos);
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 5px;
        top: 10px;
        transition: 0.5s ease-in-out all;
        pointer-events: none;
    }
    
    input:focus~label,
    input:valid~label { 
        top: -14px;
        font-size: 12px;
        color: #2196f3;
    }
    
    .barra{
        position: relative;
        display: block;
        width:100%;
    }
       
    .barra::before { 
        content: "";
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: #fbbc02;
        transition: 0.3s ease width;
        left: 0;
    }
    
    input:focus~.barra::before{
       width: 100%;
    }
    
    .boton  { 
        background: #fbbc02;
        border: none;
        display: block;
        width: 80%;
        margin: 10px auto;
        color: white;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
    }

    .logo-date {
            span { 
                font-size: $tamaño-grande;
                color:white;
        }
    }

    .position-header { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        flex-wrap: wrap;
        background-color: black;
    } 
    
    :root {
        --body-bg-color: #1a1c1d;
        --text-color: #aaaebc;
        --red: #e74c3c;
    }
    
    .menu  {
        a{
            position: relative;
            display: block;
            padding: 5px;
            color: inherit;
        }
    }
    
    .menu a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
            transition: transform 0.5s ease-in-out;
      }
      
      .menu a:hover::before {
        transform: scaleX(1);
      }
      .menu[data-animation="bonus"] a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
      } 
     
        nav { 
            background-color: #5e5b5d;
            .menu { 
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            a { 
                color: white !important;
                font-size: 18px;
            }
            a:active { 
                color: violet !important;
            }
        }
}





