// Modificacines especificas de cada pagina

.ayuda-main { 
    color: $color;

    .info-creator { 
        p{ 
        text-align: center;
        font-size: 3em;
        }
    } 
    
    .ayuda { 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:  24px 40px;
        font-size: 1.7em;
        gap: 1em;
    
        .inputs { 
            padding:0 30px;
        }
        }
}

@media (max-width:1850px){
    header {
        flex-direction: column;
    }
}
@media (max-width:1080px){
    .hardware { 
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    .menu-second { 
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media (max-widht:1079px) { 
   nav .menu-second { 
        display: flex;
        flex-wrap:wrap ;
    }
}

@media (max-width:655px){
    .contactanos__img {
        width: 100%;
    }
}

@media (max-width:655px){ 
    .menu input{ 
        width: 310px;
    }
  
  
}


@media (max-width:450px) { 
    .info-creator p{ 
        text-align: center;
        font-size: 2.3em;
    }

}


@media (max-width:700px) { 
    .info-arma-yu-pc { 
        padding: 20px 0;
    }
}

@media (max-width:400px)  {
    .carrito-pagar a { 
        font-size: 0.7em;
    }
}
 
@media (max-width:450px) { 
    .cpu__img { 
        width: 100%;
    }
}

@media (max-width:350px){ 
    .menu input{ 
        width: 250px;
    }
  
}

@media (max-width:1400px) { 
    .mouse__img { 
        width: 100%;
    }
    
    .graphics__img { 
        width: 100%;
    }
    
    .cpu__img { 
        width: 100%;
    }
}



    

