
    /* colors fondo */
    $principal:#171717;
    $secundario:#FF680A;

    /* colors letra */

    $color:#000000;
    $color-secundario:#4BB3FD;
    $color-terciario:rgba(255, 30, 0, 0.332);

    /* colors letra */

    $tamaño-letra:4em;

    /* tipo de letra */

    $tipografia-principal:gadugib;
    $tipografia-secundario:roboto; 

