
    /* colors fondo */
    $principal:#171717;
    $secundario:#FF680A;

    /* colors letra */

    $color:#000000;
    $color-secundario:#999;
    $color-terciario:#3c4858;
    

    $colortext:(
        color-principal:#000000,
        color-secundario:#999,
        color-terciario:rgba(255, 30, 0, 0.332),
        color-cuarto:#FFFFFF
    );
    
    @each $key, $val in $colortext {
        .#{$key} { 
            color: #{$val};
        }
    }
    /* Tamaño + espacios */

    $tamaño-letra:4em;
    $tamaño-chico:5px;
    $tamaño-medio:7px;
    $tamaño-medio-grande:10px;
    $tamaño-grande:15px;
    $tamaño-muy-grande:18px;

    /* tipo de letra */

    $tipografia-principal:gadugib;
    $tipografia-secundario:roboto; 


