@media (max-width:1079px) { 
         main {
            nav { 
                .menu-second { 
                    display: flex;
                    flex-wrap:wrap ;
                }
            }     
    }
 }

 @media (max-width:550px) { 
    header { 
        nav { 
            .menu { 
               input { 
                width: 200px;
               }
            }
        }
    }
 }

 @media (max-width:810px) { 
    .ayuda-main #ayuda #inputs{   
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1em;
    }
  }





  @media (max-width:1850px){
    header {
        flex-direction: column;
    }
}
@media (max-width:1080px){
    .hardware { 
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
}

@media (max-width:655px){
    .contactanos__img {
        width: 100%;
    }
}

@media (max-width:450px) { 
    .info-creator p{ 
        text-align: center;
        font-size: 2.3em;
    }

}

@media (max-width:700px) { 
    .info-arma-yu-pc { 
        padding: 20px 0;
    }
}

@media (max-width:400px)  {
    .carrito-pagar a { 
        font-size: 0.7em;
    }
}
 
@media (max-width:450px) { 
    .cpu__img { 
        width: 100%;
    }
}

@media (max-width:350px){ 
    .menu input{ 
        width: 250px;
    }
  
}

@media (max-width:1400px) { 
    .mouse__img { 
        width: 100%;
    }
    
    .graphics__img { 
        width: 100%;
    }
    
    .cpu__img { 
        width: 100%;
    }
}

 